:root {
  --gap: 24px;
  --primary-color: #317773;
  --accent-color: #E2D1F9;
  --third-color: gold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.txt-white {
  color: #fff;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/*
header styles
*/

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  padding: calc(var(--gap)/2) var(--gap);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 0 #313131;
}

/*
main styles
*/

main {
  flex: 1;
  display: flex;
  gap: 24px;
}

.main-content {
  flex: 1;
}

/* sidebar */

.left-sidebar {
  background-color: var(--accent-color);
  box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-title {
  color: var(--primary-color);
}

.projects-container>button {
  all: unset;
  padding: calc(var(--gap)/2) var(--gap);
  background-color: var(--accent-color);
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.projects-container>button:hover {
  filter: brightness(.9);
}

/* todo list */

.todo-list-container {
  padding: var(--gap) 0;
}

.todo-list-container>h3 {
  margin-bottom: calc(var(--gap)/1.5);
}

.todo-list-container>button {
  padding: calc(var(--gap)/2) calc(var(--gap)/1.5);
  margin-bottom: calc(var(--gap)/2);
  background-color: var(--accent-color);
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.todo-list-container>button:hover {
  filter: brightness(.9);
}

/* right sidebar */

.right-sidebar {
  padding: var(--gap);
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: space-between;
  background-color: var(--accent-color);
  box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.right-sidebar .bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--gap)/3);
}

.todo-description {
  margin-bottom: var(--gap);
}

/*
footer styles
*/

footer {
  background-color: var(--primary-color);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red1dev-link:hover {
  color: var(--third-color);
  transition: .3s;
}
